.RiceMap {
    display: flex;
}

.RiceMap-controls {
    max-width: 30%;
    min-height: 500px;
    flex:30%
}

.RiceMap-map {
    max-width: 70%;
    margin-left: 30%;
    flex:70%;
}

.RiceMap-colorbox {
    width: 50%;
    height: 75%;
    background-color: #CCC;
    opacity: 0.7;
    border:1px;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}